# GRETA type A crystal
# config file for greta fieldgen/siggen
#
# all lengths are in mm
# format is <key_word> <value> # comment, with key_word starting at beginning of line

# general
verbosity_level      1   #  0 = terse, 1 = normal, 2 = chatty/verbose

# detector geometry
xtal_type            0    # 0 for type A, 1 for type B
xtal_length         90    # z length
xtal_radius         40    # radius
top_bullet_radius    1.5  # bulletization radius at top of crystal
bottom_bullet_radius 4.0  # bulletization radius at bottom of crystal
# core_length         78    # core contact length
core_length_gap     12    # core contact gap to front of crystal = xtal_length - core_length
core_radius          6    # core contact radius
core_bullet_radius   4    # bulletization radius at inner end of core contact
bottom_taper_length  3.5  # z-lenth of conical taper at bottom of core contact
bottom_taper_angle  55    # angle of conical taper at bottom of core contact
# bottom_taper_width   5    # radial width of conical taper at bottom of core contact
Li_thickness       1.0    # depth of full-charge-collection boundary for Li contact
core_offset_x_top    0    # x-offset of core contact position at top of hole   
core_offset_y_top    0    # y-offset of core contact position at top of hole   
core_offset_x_bottom 0    # x-offset of core contact position at bottom of hole
core_offset_y_bottom 0    # y-offset of core contact position at bottom of hole
xtal_axis_rotation  45    # angle offset between x-/y-axes and the crystal axes (degrees)

# configuration for mjd_fieldgen (calculates electric fields & weighing potentials)
xtal_grid           1.0   # grid size in mm for field files (usually 0.5 or 0.1 mm)
impurity_z0         1.26  # net impurity concentration at Z=0, in 1e10 e/cm3
impurity_gradient  -0.091 # net impurity gradient, in 1e10 e/cm4
impurity_quadratic  0.0   # in 1e10 e/cm4
impurity_surface    0.0   # in 1e10 e/cm2
xtal_HV             5000  # detector bias for fieldgen, in Volts
# options for fieldgen:
max_iterations      2000 # maximum number of iterations to use in fieldgen
write_field         1     # 0/1: do_not/do write the standard field output file
write_WP            0     # 0/1: do_not/do calculate the weighting potential and write it to the file

# file names
geometry_name   geometry_setup.dat  # details of segmentation geometry
drift_name      drift_vel_tcorr.tab # drift velocity lookup table
field_name      fields/ev_a3.dat    # potential/efield file name; no included spaces allowed
wp_name         fields/wp_a3.dat    # weighting potential file name; no included spaces allowed

# configuration for signal calculation 
xtal_temp          90     # crystal temperature in Kelvin
preamp_tau         0      # integration time constant for preamplifier, in ns
time_steps_calc    1000    # max. number of time steps used in calculations
step_time_calc     1.0    # length of time step used for calculation, in ns
step_time_out      10.0   # length of time step for output signal, in ns
#    nonzero values in the next few lines significantly slows down the code
charge_cloud_size  0      # initial FWHM of charge cloud, in mm
use_diffusion      0      # set to 0/1 for ignore/add diffusion as the charges drift


#---------------------------------------------------
# geometry_setup.dat :
#---------------------------------------------------
#
# detector geometry for GRETINA
# updated version of geometry file for asymmetric hexagonal crystals,
# of two different types -- Nov 07/KL
#
# 6 6              # number of segments, z, phi directions
# 8 14 16 17 21 14 # thickness of segments, front to back (z direction)
###     items in these next 6 lines are now defined in the config file instead
### 90             # size in z direction, mm
### 40             # maximum radius, mm
### 6              # central hole radius, mm
### 12             # distance detector front=>central hole, mm
### 4.0		   # hole end curvature radius at r=rmax
### 11.0 55.0 	   # hole opening "funnel" opening radius, angle (degrees)
# 
# # next comes the corners (real at front, virtual at back) of the crystal
# #               x          y           z
# 
# # corners for crystal type A, at front of det
#             -15.0548    26.1868     0.0000 
#              18.3753    27.9457     0.0000 
#              34.5873     0.6657     0.0000 
#              15.8510   -29.5186     0.0000 
#             -18.3283   -25.5333     0.0000 
#             -30.1478     1.8719     0.0000
# # corners for crystal type A  at back of det
#             -23.6814    41.1311    90.0000 
#              26.7421    43.7842    90.0000 
#              52.1781     0.9828    90.0000 
#              22.9555   -46.0950    90.0000 
#             -28.8096   -40.0592    90.0000 
#             -47.3682     2.9715    90.0000
# # corners for crystal type B  at front of det
#              30.3325    16.6479     0.0000 
#              30.3325   -16.6962     0.0000 
#               3.2430   -33.2720     0.0000 
#             -27.3023   -16.2481     0.0000 
#             -29.6607    14.5631     0.0000 
#              -0.9109    33.4637     0.0000
# # corners for crystal type B  at back of det
#              45.7428    25.1368    90.0000 
#              45.7428   -25.1850    90.0000 
#               3.2524   -51.1846    90.0000 
#             -42.7582   -25.5414    90.0000 
#             -46.4594    22.8111    90.0000 
#              -3.0092    51.3760    90.0000
# 
#---------------------------------------------------
